@keyframes floor {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.04, 1.04);
  }
  50% {
    transform: scale(1.04, 1.04);
  }
  60% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes rotate {
  from { transform: rotate(0deg);   }
  to   { transform: rotate(360deg); }
}




